<h2>Play game!</h2>



<%= @quiz.assignment.topic.difficulty  %>
<!-- Print a difficulty and the type of math -->

<%= @quiz.assigment.topic.operand %>


<% @quiz.problem.each do |e| %>

<%= e.item1 %>
<%= e.item2 %>

<% end %>
