<h2>Play game!</h2>


<%= Quiz.find(params[:id]).topic.difficulty  %>
<!-- Print a difficulty and the type of math -->

<%= Quiz.find(params[:id]).topic.operand %>

<% binding.pry %>
<% Quiz.find(params[:id]).problems.each do |e| %>

<%= e.item1 %>
<%= e.item2 %>

<% end %>
