<!DOCTYPE html>
<html lang="en">
<head> 
  <title>springbook</title>
  <link rel="icon"
     href="./images/icon.ico">
  <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300|Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <style type="text/css"></style>
</head>
<body>
		<% content_for :background do %>
		<div>
		<%= image_tag "newfrontpage.png", class: "bg-img" %>

		</div>
		<% end %>
		<section class="homeTop" id="abouttop">
		<p>
			"Education is the most powerful weapon which you can use to change the world." <br>
			~ Nelson Mandela
		</p>
		 </br></br>
				
		</section>
	
	

		<section class="sections" id="about">
			<div id="topblock">
				
					<li>
						<h2><strong>About Springbook</strong></h2>
					</li>

					<li><h4>
Games naturally support learning. They are designed to instill motivation in students through competition and excitement for exploring new worlds and solving challenges. Springbook allows for teachers to connect in a new and dynamic way with their students by assigning game quizzes for homework in a variety of categories. Students can replay the games to improve their scores and strength of mind. We hope that games will be more widely used by teachers, parents, schools and other institutions with an interest in learning. 
					</h4></li>
				
			</div>

			<div id="lianaleftblock">
				

					<li>
						<h3><strong>Liana Kadisha</strong></h3>
					</li>
					<li>
						<%= image_tag "liana.png", class: "profpics" %> <br>
					</li>
			<div id="someinfo">
					<li>
						<strong>Lives in:</strong>
						Sunny California
					</li>	
					<li>
						<strong>Nationality:</strong>
						American and Israeli
					</li>					
					<li>
						<strong>Sign:</strong>
						Sagittarius
					</li>						
					<li>
						<strong>Education:</strong>
						Stanford University
					</li>	
					<li>
						<strong>Pets:</strong>
						Luca and Jet
					</li>	
					<li>
						<strong>Loves to:</strong>
						Travel
					</li>	
					<li>
						<strong>Cant wait to:</strong>
						Bungee Jump
					</li>	
					<li>
						<strong>Currently in:</strong>
						South Africa
					</li>	
				
			</div>
					
			
			</div>


			<div id="vikramrightblock">
				
					<li>
						<h3><strong>Vikram Rajagopalan</strong></h3>
					</li>
					<li>
						<%= image_tag "vikram.jpg", class: "profpics" %> <br>
						
					</li>
				<div id="someinfo">
					<li>
						<strong>Lives in:</strong>
						Sunny California
					</li>	
					<li>
						<strong>Nationality:</strong>
						American and Israeli
					</li>					
					<li>
						<strong>Sign:</strong>
						Sagittarius
					</li>						
					<li>
						<strong>Education:</strong>
						Stanford University
					</li>	
					<li>
						<strong>Pets:</strong>
						Luca and Jet
					</li>	
					<li>
						<strong>Loves to:</strong>
						Travel
					</li>	
					<li>
						<strong>Cant wait to:</strong>
						Bungee Jump
					</li>	
					<li>
						<strong>Currently in:</strong>
						South Africa
					</li>	
				
			</div>
				
			</div>
		</section>
		
				<section class="homeTop" id="contacttop">
			<h3> 
			</br><br><br>
			</h3> 
				
		</section>

		<section class="sections" id="contact">

			<div class="head">
				
										
						<h2><strong>Have Questions? <br> Reach Out!</strong></h2>
					
					 <br>
			</div>

			<div id="contact_form">
		<form action="#" method="POST" name="my_form">
				    <label for="Name">
				    <input type="text" name="Name" placeholder="Full Name" id="Name"></label><br><br>
  					<label for="" "email"=""> 
  					<input type="email" name="email" placeholder="E-mail" ><br><br>
				    <input type="radio" name="type" value="Teacher" id="teacher"><label for="teacher">Teacher</label><br>
				    <input type="radio" name="type" value="Student" id="student"><label for="student">Student</label><br>
				    <input type="radio" name="type" value="Parent" id="parent"><label for="parent">Parent</label><br>
				    <input type="radio" name="type" value="Other" id="other"><label for="other">Other</label><br>
				    <label for="essay"></label> <br>
				    <textarea name="essay" placeholder="Message" id="essay" rows="10" cols="40"></textarea> <br>
				    <br>
				    <div id="submitbutton">
				    <input type="submit" value="Send!"> 
				</div>
				<br><br>
			</label></form>

			</div>
		</section>
		<br><br>
</body>
</html>