<!DOCTYPE html>
<html lang="en">
<head> 
  <title>springbook.</title>
  <link rel="icon"
     href="./images/icon.ico">
  <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300|Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <style type="text/css"></style>
</head>
<body>
		<% content_for :background do %>
		<div>
		<%= image_tag "newfrontpage.png", class: "bg-img" %>

		</div>
		<% end %>
		<section class="homeTop" id="abouttop">
			<h3> 
			Spring.
			</h3> </br></br></br></br></br>
				
		</section>
	
	

		<section class="sections" id="about">
			<div id="topblock">
				<ul>
					<li>
						<strong>About Springbook</strong>
					</li>

					<li>
						Games facilitate learning blah blah.
					</li>
				</ul>
			</div>
			<div id="lianaleftblock">
				<ul>

					<li>
						<strong>Liana Kadisha</strong>
					</li>
					<li>
						<%= image_tag "liana.jpg", class: "profpics" %> <br>

						Stanford yeah blah
					</li>
					</ul>
				</div>
			<div id="vikramrightblock">
				<ul>
					<li>
						<strong>Vikram Rajagopalan</strong>
					</li>
					<li>
						<%= image_tag "vikram.jpg", class: "profpics" %> <br>
						Born and raised blah blah
					</li>
	
				</ul>
			</div>
		</section>
		
				<section class="homeTop" id="contacttop">
			<h3> 
			</br><br>
			</h3> 
				
		</section>

		<section class="sections" id="contact">

			<div class="head">
				<h3> 
					Have Questions? <br> Reach Out!</h3>  <br>
			</div>

			<div id="contact_form">
		<form action="#" method="POST" name="my_form">
				    <label for="Name">
				    <input type="text" name="Name" placeholder="Full Name" id="Name"></label><br><br>
  					<label for="" "email"=""> 
  					<input type="email" name="email" placeholder="E-mail" ><br><br>
				    <input type="radio" name="type" value="Teacher" id="teacher"><label for="teacher">Teacher</label><br>
				    <input type="radio" name="type" value="Student" id="student"><label for="student">Student</label><br>
				    <input type="radio" name="type" value="Parent" id="parent"><label for="parent">Parent</label><br>
				    <input type="radio" name="type" value="Other" id="other"><label for="other">Other</label><br>
				    <label for="essay"></label> <br>
				    <textarea name="essay" placeholder="Message" id="essay" rows="10" cols="40"></textarea> <br>
				    <br>
				    <input type="submit" value="Send!"> 
				<br><br>
			</label></form>

			</div>
		</section>
		<br><br>
</body>
</html>