<!DOCTYPE html>
<html lang="en">
<head> 
  <title>springbook.</title>
  <link rel="icon"
     href="./images/icon.ico">
  <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300|Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <style type="text/css"></style>
</head>
<body>
		<% content_for :background do %>
		<%= image_tag "springbok.jpg", class: "bg-img" %>
		<% end %>
		<section class="homeTop" id="top">
			<h3> 
				springbook. </br>
			</h3> 
				
		</section>
	
	

		<section class="sections" id="about">
			<div id="someinfo">
				<ul>
				</ul>
			</div>
			<div id="about us">
				<ul>
					<li>
						<strong>About Springbook</strong>
					</li>
					<li>
						Games facilitate learning blah blah.
					</li>
					<li>
						<strong>Vikram Raja</strong>
					</li>
					<li>
						Born and raised in D.C. blah blah
					</li>
					<li>
						<strong>Liana Kadisha</strong>
					</li>
					<li>
						As a Stanford student, blah blah
					</li>
	
				</ul>
			</div>
		</section>


		<section class="sections" id="contact">
			<div class="head">
				<h3> <br>
					Have Questions? <br> Reach Out!</h3> 
			</div>

			<div id="contact_form">
		<form action="#" method="POST" name="my_form">
				    <label for="Name"></label>
				    <input type="text" name="Name" placeholder="Full Name" id="Name"><br><br>
  					<label for="" "email"=""> 
  					<input type="email" name="email" placeholder="E-mail" ><br><br>
				    <input type="radio" name="type" value="Teacher" id="teacher"><label for="teacher">Teacher</label><br>
				    <input type="radio" name="type" value="Student" id="student"><label for="student">Student</label><br>
				    <input type="radio" name="type" value="Parent" id="parent"><label for="parent">Parent</label><br>
				    <input type="radio" name="type" value="Other" id="other"><label for="other">Other</label><br>
				    <label for="essay"></label> <br>
				    <textarea name="essay" placeholder="Message" id="essay" rows="10" cols="40"></textarea> <br>
				    <br>
				    <input type="submit" value="Send!">
				
			</label></form>

			</div>
		</section>
</body>
</html>