// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	background-color: rgba(255,255,255,.7) !important;
}

#user_info {
	font-family: 'Unkempt', cursive, sans-serif; 
}

h1 {
	text-align: center !important;
	font-family: 'Unkempt', cursive, sans-serif !important; 
}

