/******************TOP SECTION**************************/


#top {
	/* top makes the home section line up RIGHT after the nav bar*/
	position:relative;
	height: 20vh;
	width: 100%;
} 

.bg-img {
	background-size: cover;
	min-width: 100%;
	z-index: -100;
	position: relative; left: 0; top: 0; 
}

/******************ABOUT SECTION**************************/



/*#abouttop {
	background:rgba(255,159,128,.5);
	border-top: 5px solid #D2DADF;
	border-bottom: 5px solid #D2DADF;
	min-width:100%;
}*/

#abouttop p {
	font-family: 'Unkempt', cursive, sans-serif;
	color:black;
	border-top:;
	text-align:left;
	font-size: 2em;
	margin:0px;
	font-weight:lighter;
	padding: 0;
	color: rgba(69, 79,92,1);
	position: relative;
	top: -15px;
	float:center
}

#about {
	font-family: 'Unkempt', cursive, sans-serif;

}

#topblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
	width:85%;
	border-radius: 40px;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	top: -15px;
	height: 40%;
}


.profpics {
	width: 120px;
	height: 150px;
}


#lianaleftblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
	width:30%;
	border-radius: 40px;
	position: inline-block; 
	text-align: center;
	padding-bottom: 10px;
	margin-top: 4%;
	margin-left: 8%;
	top: -10px;
	height: 40%;
	float: left;
}

#vikramrightblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
	width:30%;
	text-align: center;
	border-radius: 40px;
	margin-top: 4%;
	margin-right: 8%;
	padding-bottom: 10px;
	position: inline-block;
	top: -10px;
	height: 40%;
	float: right;
}
/******************CONTACT SECTION**************************/

#contact {
	text-align: center;
	font-family: 'Unkempt', cursive, sans-serif;
	background-color: rgba(255,255,255,.8);
	width:40%;
	border-radius: 40px;
	padding:0;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	top: 80px;
	height: 40%;
} 


#contact .head {
	display: inline-block;
	margin-top: 8%;
}



label {
	color:black;
	margin-bottom: 30px;
}

/******************* ALL FORMS *************************/


#form_style input {
width:30%;
  border-radius: 7px;
}

#submitbutton input {
background-color: #FFCC02;
width: 150px;
border-radius: 20px;
}

#submitbutton input:hover {
background-color: #ccc;
}


#signinpage {
/*	background-image: url("sunsetbok.jpg");
	background-size: cover;
	background-position: bottom;*/
	margin-top: 1%;
	font-family: 'Lato', sans-serif;

}

.border-form-div {
  max-width: 60%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,.8);
  border-radius: 50px;
  
  box-shadow: 0 10px 10px rgba(0,0,0,.05);

}
