/******************TOP SECTION**************************/


#top {
	/* top makes the home section line up RIGHT after the nav bar*/
	position:relative;
	height: 20vh;
	width: 100%;
} 

.bg-img {
	background-size: cover;
	min-width: 100%;
	z-index: -100;
	position: relative; left: 0; top: 0; 
}

/******************ABOUT SECTION**************************/



/*#abouttop {
	background:rgba(255,159,128,.5);
	border-top: 5px solid #D2DADF;
	border-bottom: 5px solid #D2DADF;
	min-width:100%;
}*/

#abouttop p {
	font-family: 'Unkempt', cursive, sans-serif;
	color:black;
	border-top:;
	text-align:center;
	font-size: 2em;
	margin:0px;
	font-weight:lighter;
	padding: 0;
	color: rgba(69, 79,92,1);
	position: relative;
	top: -15px;
	float:center
}

#about {
	font-family: 'Unkempt', cursive, sans-serif;
}

#someinfo {
	font-size: 15px;
}

#topblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
	width:85%;
	line-height: 25px;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	top: -15px;
	border-radius: 4px;
	height: 40%;
}


.profpics {
	width: 120px;
	height: 150px;
}


#lianaleftblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
	border-radius: 4px;
	width:30%;
	position: inline-block; 
	text-align: center;
	padding-bottom: 10px;
	margin-top: 4%;
	margin-left: 8%;
	top: -10px;
	height: 40%;
	float: left;
}

#vikramrightblock {
	list-style: none;
	background-color: rgba(255,255,255,.8);
		border-radius: 4px;

	width:30%;
	text-align: center;
	margin-top: 4%;
	margin-right: 8%;
	padding-bottom: 10px;
	position: inline-block;
	top: -10px;
	height: 40%;
	float: right;
}
/******************CONTACT SECTION**************************/

#contact {
	text-align: center;
	font-family: 'Unkempt', cursive, sans-serif;
	background-color: rgba(255,255,255,.8);
	width:40%;
	border-radius: 4px;
	padding:0;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	top: 80px;
	height: 40%;
} 


#contact .head {
	display: inline-block;
	margin-top: 8%;
}



label {
	color:black;
	margin-bottom: 30px;
}

/******************* ALL FORMS *************************/


#form_style input {
  width:30%;
  border-radius: 7px;
}




#signinpage {
/*	background-image: url("sunsetbok.jpg");
	background-size: cover;
	background-position: bottom;*/
	margin-top: 1%;
	font-family: 'Unkempt', cursive, sans-serif;

}

.border-form-div {
  max-width: 60%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,.8);
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0,0,0,.05);

}

#submitbutton input {
  position: relative;
  vertical-align: top;
  width: 150px;
  height: 30px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
#submitbutton input:hover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
